.forms{
    display: flex;
    width: 70vh;
    height: fit-content;
    align-items: center;
    justify-content: flex-start;
    background-color: #16171b;
    position: absolute;
    top: 10%;
    left: 30%;
    border-radius: 10px;
    padding: 20px;
    gap: 1rem;
    float: left;
    flex-direction: column;
    box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.2);

}
.forms h3{
color: white;

}
.submitbtn{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.ant-input{
    background-color: transparent;
}
::placeholder {
    color: white !important;
  }
  .ant-select-selection {
    background-color: transparent   !important;
  }
  .ant-select-selection-placeholder{
    color: white !important;
  }
  .select{
    background-color: #16171b;
  }
  .ant-select-selector{
    background-color:#16171b !important;
    color: white !important;

  }
  .ant-select-selection-selector{
    background-color:#16171b !important;
    color: white !important;

  }
  .ant-select-selection-search {
    background-color:#16171b !important;
    color: white !important;
  }
  .ant-select-selection-item{
    color: white;
  }
  .ant-select-dropdown{
    background-color: #16171b;
  }
  .ant-select-item-option-active .ant-select-dropdown {
    background-color:#16171b !important;
    color: pink !important;

  }
.ant-input .ant-input-lg{
color: white;
}

 .ant-select-item-option-content{
  color: pink;
}

.ant-select-item-option-active    .ant-select-dropdown{
  background-color: #16171b;
}
.ant-select-item-option-active   .ant-select-item-option-content{

  color: white;
}
.ant-select-item-option-content{
  color: white;
}
